<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
<div class="post" th:each="post : ${posts}">
    <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
    <p th:text="${post.body}">body text</p>
    <p th:if="${post.createdAt != null}" th:text="'Posted at: ' + ${#temporals.format(post.createdAt, 'MMMM d, yyyy')}"></p>
    <p th:if="${post.updatedAt != null}" th:text="'Updated at: ' + ${#temporals.format(post.updatedAt, 'MMMM d, yyyy')}"></p>
    <p th:text="'Account ID: ' + ${post.account.id}"></p> <!-- Display the account id -->
    <br>
</div>
</body>
</html>
